<h2>Add Account</h2>
<form>
    @*Adding First name textfield*@
    <fieldset class="form-group-sm">
        <label for="FirstName">First Name:</label>
        <input type="text" id="FirstName">
    </fieldset>
    @*Adding Last Name textfield*@
    <fieldset class="form-group-sm">
        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" />
    </fieldset>
        @*@Adding a inline account type dropbox*@
        <fieldset class="form-inline">
            <label for="selDropBox1">Select Account Type: </label>
            <select class="form-control" id="selDropBox1">
                <option></option>
                <option>Director</option>
                <option>Staff</option>
            </select>
        </fieldset>
        @*Adding a inline center dropbox*@
        <fieldset class="form-inline">
            <label for="selDropBox2">Select Center:</label>
            <select class="form-control" id="selDropBox2">
                <option></option>
                <option>Center1</option>
                <option>Center2</option>
            </select>
        </fieldset>
        @*Adding email textfield*@
        <fieldset class="form-group-sm">
            <label for="Email:">Email:</label>
            <input type="text" id="Email">
        </fieldset>
        @*Adding phone number textfield*@
        <fieldset class="form-group-sm">
            <label for="PhoneNumber">Phone Number:</label>
            <input type="text" id="PhoneNumber">
        </fieldset>
        @*Adding username textfield*@
        <fieldset class="form-group-sm">
            <label for="Username">Username:</label>
            <input type="text" id="Username">
        </fieldset>
        @*Adding password textfield*@
        <fieldset class="form-group-sm">
            <label for="Password">Password:</label>
            <input type="text" id="Password">
        </fieldset>
</form>
@*Adding add account and back buttons*@
<fieldset>
    @*Adding a create account button that will add the new account to the database*@
    <button type="submit" value="Create Account" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-primary">Create</button>
    @*Adding a back button that takes user to the ManageAccounts content page*@
    <button type="submit" value="Back" onclick="location.href='@Url.Action("ManageAccounts", "Admin")'" class="btn btn-primary">Back</button>
</fieldset>
