@{
    ViewData["Title"] = "Delete Personal Account";
}
<h2>Delete Personal Account</h2>

<h3>Are you sure you want to delete your account?</h3>
<div>
    <form asp-action="DeletePersonalAccount">
        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </form>
</div>
