@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage Accounts";
}
<h1>Manage Accounts</h1>
<fieldset>
    @*Adding a create account button*@
    <button type="submit" value="Add Account" onclick="location.href='@Url.Action("AddAccount", "Admin")'" class="btn btn-primary">Add Account</button>
    @*Adding textfield and button to create a search bar*@
    <label for="Name">Name:</label>
    <input type="text" id="Name">
    <button type="submit" value="Search Names" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-primary">Filter</button>
</fieldset>