@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MCCA.Models.Picture
@{
    ViewData["Title"] = "File Upload";
}
<h2>File Upload</h2>
@using (Html.BeginForm("PictureTest", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploadFile" id="uploadFile" />
        <input type="submit" />
}

<form action="/Admin/PictureTest" method="post" enctype="multipart/form-data">

    <label for="uploadFile">Photo:</label>
    <input type="file" name="uploadFile" id="uploadFile" />

    <input type="submit" value="PictureTest" />
</form>