@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Select a Center";
}
<form asp-controller="Admin" asp-action="ManageCenters" method="post" role="form">
    <fieldset class="form-group">
        <label for="selCenter">Select a MESA Center to modify:</label>
        <select class="form-control" id="selCenter">
            <option>CSUS MESA</option>
            <option>MESA Center 2</option>
            <option>MESA Center 3</option>
            <option>MESA Center 4</option>
            <option>MESA Center 5</option>
        </select>
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>