/* line 7, ../../resources/assets/sass/admin.scss */
.alert-success {
  height: 40px;
}

/* line 11, ../../resources/assets/sass/admin.scss */
body {
  margin-top: 50px;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../../resources/assets/sass/admin.scss */
.sacmesa-navbar {
  color: #ffffff;
  background-color: #01579B;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 23, ../../resources/assets/sass/admin.scss */
.sacmesa-navbar a {
  -webkit-tap-highlight-color: transparent;
  color: #ffffff;
}
/* line 27, ../../resources/assets/sass/admin.scss */
.sacmesa-navbar navbar-header {
  color: #ffffff;
}
/* line 30, ../../resources/assets/sass/admin.scss */
.sacmesa-navbar .navbar-nav .open > a {
  background: none;
}
/* line 33, ../../resources/assets/sass/admin.scss */
.sacmesa-navbar .nav > li a:focus {
  background: none;
}
/* line 36, ../../resources/assets/sass/admin.scss */
.sacmesa-navbar .nav > li a:hover {
  background: none;
  color: #ffffff;
}

/* line 43, ../../resources/assets/sass/admin.scss */
.panel-flat .panel-heading {
  border-radius: 0px;
  height: 45px;
  vertical-align: middle;
  margin-bottom: 0px;
  color: white;
}
/* line 50, ../../resources/assets/sass/admin.scss */
.panel-flat .panel-body {
  border-radius: 0px;
}

/* line 56, ../../resources/assets/sass/admin.scss */
.panel-blue .panel-heading {
  background: #01579B;
}

/* line 62, ../../resources/assets/sass/admin.scss */
.panel-green .panel-heading {
  background: #00897B;
}

/* line 67, ../../resources/assets/sass/admin.scss */
.div20 {
  min-height: 20px;
}

/* line 71, ../../resources/assets/sass/admin.scss */
.div40 {
  min-height: 40px;
}

/* line 75, ../../resources/assets/sass/admin.scss */
.div60 {
  min-height: 60px;
}

/* line 79, ../../resources/assets/sass/admin.scss */
.div80 {
  min-height: 80px;
}

/* line 83, ../../resources/assets/sass/admin.scss */
.non-primary {
  background: rgba(0, 0, 0, 0.75);
  opacity: .50;
}
