@{
    ViewData["Title"] = "About";
}

<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h3 class="heading">About Us</h3>
            <p>
                The MESA Capitol Corridor Alliance (MCCA) is a group of centers within one of

                the regions of the MESA Statewide program.  The MESA Statewide program

                serves educationally and financially underserved students with the overarching

                goal to increase participation of those students in the Science, Technology,

                Engineering and Math professions.  The Alliance is comprised of MESA centers

                within the greater Sacramento, Stockton and Vacaville region.  These centers

                represent the MESA Schools Program-MSP (grades 6-12), MESA  Community

                College Programs-MCCP (community colleges) and the MESA Engineering

                Program-MEP (universities).
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/images/mesa-directors-slc-2014.jpg" style="height:100%; width:100%;">
        </div>
    </div><!--about intro-->
    <div class="divide60"></div>
    <div class="divide60"></div>
    <div class="divide60"></div>
</div>
