@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Centers";
}

<h1 style="padding-top:30px;">MCCA Centers</h1>
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-3">
            <a href="#"><div style="border:1px solid gray;height:230px;text-align:center;padding:10px;"><img src="~/images/building-icon.png" /><br />California State University Sacramento<br />6000 J St, Sacramento, CA 95819</div></a>
        </div>
        <div class="col-sm-3">
            <a href="#"><div style="border:1px solid gray;height:230px;text-align:center;padding:10px;"><img src="~/images/building-icon.png" /><br />American River College<br />4700 College Oak Dr, Sacramento, CA 95841</div></a>
</div>
        <div class="col-sm-3">
            <a href="#"> <div style="border:1px solid gray;height:230px;text-align:center;padding:10px;"><img src="~/images/building-icon.png" /><br />Sierra College<br />5000 Rocklin Rd, Rocklin, CA 95677</div></a>
        </div>
    </div>
</div>
