@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Centers";
}

<h1 style="padding-top:30px;">MCCA Centers</h1>
<div class="container">
    <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
            <a href="#"><div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/sacstatesmall.png" height="192" width="186" /><br />California State University Sacramento<br />6000 J St, Sacramento, CA 95819</div></a>
        </div>
        <div class="col-md-4">
            <a href="#"><div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/arclogo.png" /><br />American River College<br />4700 College Oak Dr, Sacramento, CA 95841</div></a>
</div>
        <div class="col-md-4">
            <a href="#"> <div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/ucdavis.jpg" height="61" width="212" style="margin-top:60px;" /><br />UC Davis<br />1 Shields Ave, Davis, CA 95616</div></a>
        </div>
    </div>
</div>
