@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Centers";
}

<h2 style="padding-top:60px;">MCCA Centers</h2>
<div class="container">
    @*first row - universities*@
    <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
            <a href="http://www.csus.edu/" target="_blank"><div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/sacstatesmall.png" height="192" width="186" /><br />California State University Sacramento<br />6000 J St, Sacramento, CA 95819</div></a>
        </div>
        <div class="col-md-4">
            <a href="http://www.pacific.edu/" target="_blank"><div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/UofPacific.jpg" height="81" style="margin-top:60px;" /><br />University of the Pacific<br />3601 Pacific Avenue, Stockton, California 95211</div></a>
       </div>
        <div class="col-md-4">
            <a href="https://www.ucdavis.edu/" target="_blank"> <div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/ucdavis.jpg" height="61" width="212" style="margin-top:60px;" /><br />UC Davis<br />1 Shields Ave, Davis, CA 95616</div></a>
        </div>
    </div>
    @*second row -Los rios Community colleges*@
    <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
            <a href="https://www.crc.losrios.edu/" target="_blank"><div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/cosumnes.jpg"  height="81" style="margin-top:60px;"/><br />Cosumnes River College<br />8401 Center Parkway, Sacramento, CA 95823</div></a>
        </div>
        <div class="col-md-4">
            <a href="http://www.arc.losrios.edu/" target="_blank"><div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/arclogo.png" /><br />American River College<br />4700 College Oak Dr, Sacramento, CA 95841</div></a>
        </div>
        <div class="col-md-4">
            <a href="http://www.scc.losrios.edu/" target="_blank"> <div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/SCC-LOGO.png" height="181" /><br />Sacramento City College<br />3835 Freeport Boulevard, Sacramento, CA 95822 </div></a>
        </div>
    </div>
    @*third row - other community colleges*@
    <div class="row" style="margin-top:20px;">
        <div class="col-md-4">
            <a href="https://wcc.yccd.edu/" target="_blank"><div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/WoodlandCollege.png" height="192" /><br />Woodland Community College<br />2300 E. Gibson Road, Woodland, CA 95776</div></a>
        </div>
        <div class="col-md-4">
            <a href="https://www.deltacollege.edu/" target="_blank"><div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/Delta-logo.jpg" height="190" /><br />San Joaquin Delta College <br />5151 Pacific Ave, Stockton, California 95207 </div></a>
        </div>
        <div class="col-md-4">
            <a href="http://www.solano.edu/index.php" target="_blank"> <div style="border:1px solid gray;height:300px;text-align:center;padding:10px;"><img src="~/images/solano.png" style="margin-top:30px;"/><br />Solano Community College<br />4000 Suisun Valley Road, Fairfield, CA 94534</div></a>
        </div>
    </div>
</div>
