@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Donate";
}

<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="center-heading">
                <h2>How your donations are used</h2>
                <span class="center-line"></span>
                <p class="lead">
                    Under Construction
                </p>
                <a href="#" class=" btn border-theme btn-lg">Donate With Paypal</a>
            </div><!--center-heading-->
            <div class="divide80"></div>
            <div class="divide80"></div>
        </div>
    </div>
</div>

