@{
    ViewData["Title"] = "MCCA";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/mesahomebanner.jpg" alt="ASP.NET" class="img-responsive" style="width:100%;"/>
            <div class="carousel-caption">
                <p>
                    Welcome to MESA Capitol Corridor Alliance Website.<br />
                    <a class="btn btn-default btn-default" href="/Home/About">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/mesahomebanner.jpg" alt="Visual Studio" class="img-responsive" style="width:100%;" />
            <div class="carousel-caption">
                <p>
                    Check for a center near you!
                    <a class="btn btn-default btn-default" href="Home/Centers">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/mesahomebanner.jpg" alt="Package Management" class="img-responsive" style="width:100%;" />
            <div class="carousel-caption">
                <p>
                    Help support MCCA and your local centers by donating!
                    <a class="btn btn-default btn-default" href="Home/Donate">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/mesahomebanner.jpg" alt="Microsoft Azure" class="img-responsive" style="width:100%;" />
            <div class="carousel-caption">
                <p>
                    Check the news!
                    <a class="btn btn-default btn-default" href="Home/News">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="divide60"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
                <h2>MESA Capitol Corridor Alliance (MCCA)</h2>
                <span class="center-line"></span>
                <p class="sub-text margin40">
                    The MESA Capitol Corridor Alliance (MCCA) is a group of centers within one of the regions of the MESA Statewide program.
                    The MESA Statewide program serves educationally and financially under-served students with the overarching goal to increase participation of those students in the Science, Technology, Engineering and Math professions.
                </p>
            </div>
        </div>
    </div><!--center heading end-->
    <div class="divide50"></div>
    <div class="row">
        <div class="col-md-4 col-sm-6 margin30">
            <div class="colored-boxed dark">
                <i class="fa fa-child"></i>
                <h3>Start Early In Math &amp; Science</h3>
                <span class="center-line"></span>
                <p>
                    Start early in math and science with the MESA Schools Programs(MSP) offering support to students in grades 6-12
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-4 col-sm-6 margin30">
            <div class="colored-boxed dark">
                <i class="fa fa-graduation-cap"></i>
                <h3>Graduate</h3>
                <span class="center-line"></span>
                <p>
                    MESA Community College Programs (MCCP) and the MESA Engineering Program (MEP) for Universities will help students achieve success.
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-4 col-sm-6 margin30">
            <div class="colored-boxed dark">
                <i class="fa fa-suitcase"></i>
                <h3>Become a Professional</h3>
                <span class="center-line"></span>
                <p>
                    Become a professional, helping us create a diverse STEM workforce for California.
                </p>
            </div>
        </div><!--colored boxed col end-->
    </div>
</div>

<div class="divide60"></div>

<section class="mesa-california">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="center-heading">
                    <h2>About <strong>MESA California</strong></h2>
                    <p class="sub-text margin40">
                        MESA provides a unique combination of enrichment activities, hands-on competitions,

                        academic support, industry involvement and a supportive community environment.

                        MESA is nationally recognized for its innovative and effective academic development

                        program for science, technology, engineering and math (STEM) fields.
                    </p>
                    <a href="/mesa-california" class="btn border-black btn-lg">Learn More</a>
                </div>
            </div>
        </div><!--center heading end-->
    </div>
</section>

<div class="divide60"></div>

<section class="mesa-usa">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="center-heading">
                    <h2>About <strong>MESA USA</strong></h2>
                    <p class="sub-text margin40">
                        MESA USA is a partnership of 11 statewide programs, based on the California MESA

                        model. <br>
                    </p>
                    <a href="/mesa-usa" class=" btn border-black btn-lg">Learn More</a>
                </div>
            </div>
        </div><!--center heading end-->
    </div>
</section>

<section class="fun-fact-wrap fun-facts-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 margin20 facts-in">
                <h3><span class="counter">FACTS</span></h3>
                <h4>The numbers of the MCCA Alliance</h4>
            </div><!--facts in-->
            <div class="col-md-3 margin20 facts-in">
                <h3><span class="counter">4,000</span> +</h3>
                <h4>MSP Students</h4>
            </div><!--facts in-->
            <div class="col-md-3 margin20 facts-in">
                <h3><span class="counter">7,000</span> +</h3>
                <h4>MCCP Students</h4>
            </div><!--facts in-->
            <div class="col-md-3 margin20 facts-in">
                <h3><span class="counter">1000</span> +</h3>
                <h4>MEP Students</h4>
            </div><!--facts in-->
        </div>
    </div>
</section>

<div class="divide50"></div>

<div class="divide50"></div>

<div class="shop-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="center-heading">
                    <h2><span class="colored-text">How you can help</span></h2>
                    <p style="color: white; weight: normal;">
                        Through donations we will be able to offer more services like individual help
                        and tutoring for students. Please consider donating to keep this program running
                    </p>
                    <a href="/Home/Donate" class="btn btn border-white btn-lg">Donate Today</a>
                </div>
            </div>
        </div>
    </div>
</div>