@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MESA Engineering Program";
}

<div class="divide80"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h2 class="title">Mesa Engineering Program</h2>
            <p>
                The MESA Engineering Program supports educationally disadvantaged students to attain four-year degrees in engineering or computer science.
                The program establishes a peer community for its students, most of whom are first in their family to go to college. Rigorous academics,
                leadership preparation, and collaborative problem-solving training produce highly-skilled graduates who meet STEM industry’s workforce needs.
                <br><br>
                MESA Engineering Program centers receive the majority of funds from their host institutions and receive additional support from local industry partners.&nbsp;
                Main components include:
            </p>

            <h4>Academic excellence workshops</h4>
            <p>
                Students are clustered in the same core math and science classes and taught how to deepen their understanding of complex key concepts and maintain high academic outcomes through group study techniques.
            </p>

            <h4>Orientation course for freshmen and transfers</h4>
            <p>College achievement skills are tailored to students pursuing these extremely difficult STEM majors.</p>

            <h4>Career development</h4>
            <p>Students learn specifics about various engineering majors and job experiences. Industry mentors, job shadowing opportunities, career fairs, internships, scholarships and field trips to companies are also offered.</p>

            <h4>Links with student and professional organizations</h4>
            <p>
                Groups such as the American Indian Science and Engineering Society (AISES), the National Society of Black Engineers (NSBE), the Society of Hispanic Professional Engineers (SHPE) and the Society of Women Engineers (SWE) provide mentors, guest speakers and industry support.
            </p>

            <h4>Professional development workshops</h4>
            <p>
                Students participate in mock job fairs, develop resume preparation and interview skills, and learn how to find part-time, full-time and summer employment.
            </p>

            <h4>The student study center and computer lab</h4>
            <p>
                This dedicated multipurpose space is used for study, workshops and information sharing. It is a key element to building a close learning community.
            </p>

            <h4>Industry Advisory partnerships</h4>
            <p>Local boards offer valuable connections between students and industry leaders. Corporate representatives, including MESA alumni, participate on boards and provide scholarships, strategic planning, summer internships, field trips, scholarships, employment opportunities and other resources.</p>
        </div>
        <div class="col-md-6">
            <img src="~/images/MEP0080.jpg" class="img-responsive">
        </div>
    </div>
    <div class="divide60"></div>
    <div class="divide60"></div>
    <div class="divide60"></div>
</div>