@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "MESA Schools Program";
}

<div class="divide80"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h2 class="title">MESA Schools Program</h2>
            <p>
                The MESA Schools Program assists students at middle and senior high schools (and some elementary schools) to excel in math and science and become competitively eligible for academically rigorous colleges and universities.
                The program partners with teachers, administrators, school district officials, schools and industry representatives to provide quality academic enrichment. Student selection and services are implemented through a collaboration involving teachers at participating schools and personnel from local MESA centers.
                Most MESA School Programs centers are housed at universities with ties to campus faculty members. Sites are located throughout California and serve hundreds of schools and school districts.
                <br><br>
                MESA Schools Program Offers:
            </p>

            <h4>Individual Academic Plans</h4>
            <p>The plans help monitor individual student progress toward college.</p>

            <h4>Study skills training</h4>
            <p>Students learn the most effective study techniques for academic achievement.</p>

            <h4>MESA Day Academies</h4>
            <p>Hands-on, common-core aligned math and science competitions give students a chance to meet like-minded students and vie for awards. Students follow MESA-developed curriculum that reinforce California state math and science content standards. Top winners of local competitions advance to regional and, in some instances, national contests.</p>

            <h4>Career and college exploration</h4>
            <p>Industry guest speakers and field trips to companies and college&nbsp; campuses present various college and career options.</p>

            <h4>Incentive awards</h4>
            <p>Outstanding student achievement and leadership is recognized.</p>

            <h4>MESA periods</h4>
            <p>MESA provides counseling, workshops and visits to four-year universities.</p>

            <h4>Teacher professional development opportunities</h4>
            <p>Institutes are offered for MESA teachers featuring hands-on curriculum and new techniques to teach math and science. The institutes are geared especially for educators who work in schools with limited resources.</p>
        </div>
        <div class="col-md-6">
            <img src="~/images/mesa_usa_award.jpg" class="img-responsive">
        </div>
    </div>
    <div class="divide60"></div>
    <div class="divide60"></div>
    <div class="divide60"></div>
</div>