@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "News";
}

<h3> @ViewData["Title"]</h3>
<h3> @ViewData["Message"]</h3>

