@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "VisionMissionValues";
}

<div class="divide80"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 margin20">
            <h3>Vision</h3>
            <hr>
            <p>
                To be considered a premier alliance of MESA centers in the country as
                measured by program innovations and quality of graduates.
            </p>
            <h3>Mission</h3>
            <hr>
            <p>
                To provide students with the essential tools and promote behaviors that will lead to academic and professional excellence in the STEM fields.
            </p>
            <h3>Values</h3>
            <hr>
            <ul class="list-unstyled">
                <h4>Family</h4>
                <p>
                    Creating supportive relationships to promote personal goals and
                    MESA’s goals
                </p>

                <h4>Passion</h4>
                <p>
                    The journey leading to an identification of a vocational purpose
                    or “calling” through exposure of fields within STEM.
                </p>

                <h4>Compassion</h4>
                <p>
                    The ability to understand the pain and struggles experienced
                    by others and to offer support when possible.
                </p>

                <h4>Grit</h4>
                <p>
                    Set goals and make a firm commitment to achieve those goals
                    through planning and perseverance.
                </p>

                <h4>Metacognition</h4>
                <p>
                    Developing self-awareness leading to improved decision
                    making.
                </p>

                <h4>Integrity</h4>
                <p>
                    Decisions and behaviors that align with values and principles.
                </p>

                <h4>Ethics</h4>
                <p>
                    An alignment of decisions and behaviors with societal values and
                    standards.
                </p>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="~/images/MEP0009.jpg" class="img-responsive">
        </div>
    </div><!--about intro-->
    <div class="divide60"></div>
    <div class="divide60"></div>
    <div class="divide60"></div>
</div>