<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
  <connectionStrings>
    <add name="DataSource"
     providerName="System.Data.ProviderName"
     connectionString="tcp:mcca.database.windows.net,1433" />
    <add name="DatabaseName"
     providerName="System.Data.ProviderName"
     connectionString="MCCA Database" />
    <add name="Admin"
     providerName="System.Data.ProviderName"
     connectionString="whitej" />
    <add name="Password"
     providerName="System.Data.ProviderName"
     connectionString="SacMesa416275" />
  </connectionStrings>
</configuration>
