<h2>Add Account</h2>
@model MCCA.ViewModels.Director.AddAccountViewModel
@{
    ViewData["Title"] = "Add Account";
    String directorCenter = ViewBag.directorCenter;
}
<form class="form-horizontal">
    @*Adding First name textfield*@
    <div class="form-group">
        <label asp-for="FirstName" class="col-sm-3">First Name:</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    @*Adding Last name textfield*@
    <div class="form-group">
        <label asp-for="LastName" class="col-sm-3">Last Name:</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    @*@Adding a inline account type dropbox*@
    <div class="form-group">
        <div class="form-inline">
            <label asp-for="AccountType" class="col-sm-3">Account Type:</label>
            <select asp-for="AccountType" class="form-control">
                <option>Staff</option>
            </select>
        </div>
        <span asp-validation-for="AccountType" class="text-danger"></span>
    </div>
    @*Adding a inline center dropbox*@
    <div class="form-group">
        <div class="form-inline">
            <label asp-for="Center" class="col-sm-3">Center:</label>
            <select asp-for="Center" class="form-control">
                <option>@directorCenter</option>
            </select>
        </div>
        <span asp-validation-for="Center" class="text-danger"></span>
    </div>
    @*Adding email textfield*@
    <div class="form-group">
        <label asp-for="Email" class="col-sm-3">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <div class="col-sm-offset-3">
            <small class="text-muted">Example: mesa@yahoo.com</small>
        </div>
    </div>
    @*Adding phone number textfield*@
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-sm-3">Phone Number:</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <div class="col-sm-offset-3">
            <small class="text-muted">Example: 916-555-5555</small>
        </div>
    </div>
    @*Adding username textfield*@
    <div class="form-group">
        <label asp-for="Username" class="col-sm-3">Username:</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    @*Adding password textfield*@
    <div class="form-group">
        <label asp-for="Password" class="col-sm-3">Password:</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="col-sm-offset-3">
            <small class="text-muted">Please use a combination of letters, numbers, symbols</small>
        </div>
    </div>
    @*Adding confirmation password textfield*@
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-sm-3">Confirm Password:</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    @*Adding add account button*@
    <div class="form-group">
        <button style="margin-left:15px" type="submit" class="btn btn-primary">Create Account</button>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}